body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #aab2c5;
    line-height: 26px;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    max-width: 540px;
    letter-spacing: -2.5px;
    line-height: 1.1;
    margin-bottom: 65px;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #8492b7;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
}

.nav > li {
    padding: 0 15px;
}

.nav-item {
    color: #6e7ea9;
}

.btn-primary {
    color: #fff;
    background-color: #1085e4;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    padding: 20px 39px;
    border-radius: 35px;
    border: 1px solid #1085e4;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}

.btn-secondary {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #909dbb;
    background-color: #cbdbe8;
    padding: 19px 39px;
    border-radius: 30px;
    border: 1px solid #cbdbe8;
}

.btn-secondary:hover {
    background-color: #fff;
}

.btn-group a+a{
    margin-left: 15px;
}

.btn-free {
    letter-spacing: 1.5px;
    padding: 19px 48px;
    font-weight: 400;

}

.btn-sub {
    letter-spacing: 2px;
    padding: 16px 47px;
}

.btn-learn {
    padding: 20px 61px;
}

.btn-choose-plan {
    padding: 20px 61px;
}

.btn-submit {
    padding: 20px 60px;
}

.btn-info {
    color: #8085b1;
    background: transparent;
    border: 1px solid #dce1e5;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 20px 60px;
    border-radius: 30px;
    letter-spacing: 2.5px;
}

.btn-info:hover {
    color: #fff;
    background-color: #94b4cc;
    border: 1px solid #94b4cc;
}

.page-plan .btn-primary {
    padding: 20px 60px;
}

.page-plan .btn-primary:hover {
    background: transparent;
}

.btn-white {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #909dbb;
    background-color: #fff;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
}

.grid h2 span {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #1085e4;
    display: block;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;

}

.page-subscribe h2 {
    font-size: 50px;
    color: #fff;
    font-weight: 600;
}

.page-subscribe h2 span {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #1085e4;
    display: block;
}

.page-software h2 {
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
}

.page-software dt {
    font-size: 16px;
    font-weight: 700;
    color: #77829e;
}

.page-software dd {
    font-size: 14px;
    font-weight: 400;
    color: #aab2c5;
}

.page-stat h2 {
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
}

.page-stat h2 span {
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 800;
    color: #1085e4;
    display: block;
    
}

.page-stat li {
    font-size: 12px;
    font-weight: 700;
    color: #6fb6f0;
    

}

.page-stat li span {
    font-size: 60px;
    font-weight: 700;
    color: #bacbdc;
    display: block;
}

.page-app h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.available {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #d1dce5;
    text-transform: uppercase;
    
}

.page-suitable_for_anytype h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;

}

.page-easy_to_edit h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;

}

.page-screen h2 span{
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    display: block;
}

.page-screen h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
}

.page-clients span {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #84c8ff;
    display: block;
}

.page-clients h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;

}

.page-clients p {
    font-size: 14px;
    font-weight: 400;
}

.name {
    font-size: 22px;
    font-weight: 600;
    color: #192b59;
}

.position {
    font-size: 14px;
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.page-plans h2 span {
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    display: block;
}

.page-plans h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;

}

.box-price-item h3 {
    font-size: 70px;
    font-weight: 700;
    color: #192b59;
}

.box-price-item strong {
    font-size: 14px;
    font-weight: 700;
    color: #1085e4;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.active strong {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.active h3 {
    color: #fff;
}

.active span {
    color: #6978a2;
}

.nonactivetwo h3 span {
    color: #6978a2;
}

.page-team h3 span {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #84c8ff;
    display: block;
}

.page-team h3 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.page-form h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;

}

.footer p {
    font-size: 16px;
    font-weight: 400;
    color: #66719b;
}

.footer p a {
    font-size: 16px;
    font-weight: 400;
    color: #1085e4;
    text-transform: uppercase;
}

/*  LR_8 Flex_nav */

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav > li {
    padding: 0 15px;
    margin-right: 9px;
}

.width_ {
    max-width: 1140px;
    margin: 0 auto;
}

.logo {
    display: block;
    background-image: url(../img/header/Limpon-logo.png);
    width: 185px;
    height: 53px;
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    margin-bottom: 305px;
}

.page-header {
    background-image: url(../img/header/bg-for-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 332px 0;
    position: relative;
}

.screen-img {
    display: block;
    background-image: url(../img/header/img_Dashboard_Admin.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    top: 193px;
    right: -61px;
}

.page-company {
    background-image: url(../img/Sponsors/bg_for_sponsors.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.list-stat {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.list-company {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 274px;
}

.list-company-item {
    display: block;
    flex-basis: 18%;
    background-repeat: no-repeat;
}

.company-one {
    background-image: url(../img/Sponsors/bg_1_Token.png);
    height: 59px;
}

.company-two {
    background-image: url(../img/Sponsors/bg_2_Magneto.png);
    height: 82px;
}

.company-three {
    background-image: url(../img/Sponsors/bg_3_BooHoo.png);
    height: 47px;
}

.company-four {
    background-image: url(../img/Sponsors/bg_4_Fractal.png);
    height: 69px;
}

.list-stat>li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.list-stat>li>span {
    display: block;
    font-size: 60px;
    font-weight: 700;
    color: #bacbdc;
    margin-bottom: 20px;
    letter-spacing: 0px;
}

.title-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.5px;
}

.title-h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.page-stat .title-h2 {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

/* PAGE */

.page-stat {
    background-color: #edf6ff;
    padding: 115px 0px 95px 0px;
}

.page-screen {
    background-color: #edf6ff;
    padding: 80px 0 0 0;
}

/* END PAGE */

/* box page-screen */

.page-screen {
    text-align: center;
}

.screen {
    margin-top: 40px;
    margin-bottom: -10px;
}

.page-screen .title-h2 {
    font-size: 40px;
    letter-spacing: -1.1px;
}

.page-screen .title-h2 span {
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
}

.page-plans {
    text-align: center;
}

.box-price {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.box-price-item {
    background-color: #f5faff;
    flex-basis: 32%;
    padding: 90px 0 96px 0;
    position: relative;
}

.box-price-item h3 {
    font-size: 70px;
    letter-spacing: -1px;
    margin-bottom: 15px;
    margin-top: 0px;
}

.box-price-item h3 span {
    font-size: 20px;
}

.box-price-item p {
    font-size: 14px;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.box-price-item h3 span:first-child {
    color: #000958;
}

.box-price-item.active h3 span:first-child {
    color: #fff;
}

.box-price-item h3 span:last-child {
    color: #7b8ab2;
}

.box-price-item.active {
    background-color: #152b59;
    color: #fff;
}

.box-price-item ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 34px;
    margin-bottom: 60px;
    font-size: 14px;
}

.box-price-item ul>li {
    margin-bottom: 14px;
}

.box-price-item::after {
    content: "";
    width: 58px;
    height: 100%;
    background-image: url(../img/PricingPlans_section/tr.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}

.box-price-item.active::after {
    display: none;
}

.page-subscribe {
    background: rgba(9,30,134,1);
background: -moz-linear-gradient(left, rgba(9,30,134,1) 0%, rgba(9,30,134,1) 49%, rgba(50,143,231,1) 91%, rgba(50,143,231,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(9,30,134,1)), color-stop(49%, rgba(9,30,134,1)), color-stop(91%, rgba(50,143,231,1)), color-stop(100%, rgba(50,143,231,1)));
background: -webkit-linear-gradient(left, rgba(9,30,134,1) 0%, rgba(9,30,134,1) 49%, rgba(50,143,231,1) 91%, rgba(50,143,231,1) 100%);
background: -o-linear-gradient(left, rgba(9,30,134,1) 0%, rgba(9,30,134,1) 49%, rgba(50,143,231,1) 91%, rgba(50,143,231,1) 100%);
background: -ms-linear-gradient(left, rgba(9,30,134,1) 0%, rgba(9,30,134,1) 49%, rgba(50,143,231,1) 91%, rgba(50,143,231,1) 100%);
background: linear-gradient(to right, rgba(9,30,134,1) 0%, rgba(9,30,134,1) 49%, rgba(50,143,231,1) 91%, rgba(50,143,231,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#091e86', endColorstr='#328fe7', GradientType=1 );
}

.box-subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 521px;
}
.box-subscribe h2 {
    letter-spacing: -1.6px;
}
.box-subscribe h2 span {
    letter-spacing: 2.9px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.page-subscribe h2 {
    font-size: 50px;
    font-weight: 600;
    color: white;
    margin-bottom: 45px;
    
}
.page-subscribe span {
    font-size: 14px;
    font-weight: 800;
    color: #00bffe;
    display: block;
}
.page-subscribe p {
    font-size: 18px;
    color: #dfe8ff;
    margin-bottom: 40px;
}
.page-subscribe button {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2.8px;
    padding: 17px 44px;
}
.page-subscribe input {
    font-size: 14px;
}
.box-subscribe input {
    border-radius: 35px;
    padding: 24px 38px;
    width: 460px;
    background: transparent;
    border: 1px solid #3d53ab;
    color: white;
}

.box-subscribe button {
    position: relative;
    right: 204px;
}

.page-subscribe .title-h2 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
}

.box-subscribe-user input::-webkit-input-placeholder {
    color: #b1c3ee;
}

.box-subscribe-user input::-moz-placeholder {
    color: #b1c3ee;
}

.box-subscribe-user input:-moz-placeholder {
    color: #b1c3ee;
}

.box-subscribe-user input:-ms-input-placeholder {
    color: #b1c3ee;
}

.box-subscribe-user input {
    border: 2px solid #3f5cb1;
    font-size: 14px;
    color: #fff;
    border-radius: 30px;
    background-color: transparent;
    padding: 25px 230px 25px 37px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.box-subscribe-user {
    position: relative;
}

.box-subscribe-user .btn-primary {
    position: absolute;
    top: 7px;
    right: 11px;
}

.box-subscribe-child {
    flex-basis: 49%;
}

.box-subscribe-user input:focus {
    outline: none;
}

.box-subscribe-user .btn-primary {
    outline: none;
}