body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #aab2c5;
    line-height: 26px;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #8492b7;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.btn-free {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #fff;
    background-color: #1085e4;

}

.btn-grey {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #909dbb;
    background-color: #cbdbe8;
}

.btn-white {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #909dbb;
    background-color: #fff;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
}

.grid h2 span {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #1085e4;
    display: block;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;

}

.page-subscribe h2 {
    font-size: 50px;
    color: #fff;
    font-weight: 600;
}

.page-subscribe h2 span {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #1085e4;
    display: block;
}

.page-software h2 {
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
}

.page-software dt {
    font-size: 16px;
    font-weight: 700;
    color: #77829e;
}

.page-software dd {
    font-size: 14px;
    font-weight: 400;
    color: #aab2c5;
}

.page-stat h2 {
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
}

.page-stat h2 span {
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 800;
    color: #1085e4;
    display: block;
    
}

.page-stat li {
    font-size: 12px;
    font-weight: 700;
    color: #6fb6f0;
    

}

.page-stat li span {
    font-size: 60px;
    font-weight: 700;
    color: #bacbdc;
    display: block;
}

.page-app h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.available {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #d1dce5;
    text-transform: uppercase;
    
}

.page-suitable_for_anytype h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;

}

.page-easy_to_edit h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;

}

.page-screen h2 span{
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    display: block;
}

.page-screen h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
}

.page-clients span {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #84c8ff;
    display: block;
}

.page-clients h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;

}

.page-clients p {
    font-size: 14px;
    font-weight: 400;
}

.name {
    font-size: 22px;
    font-weight: 600;
    color: #192b59;
}

.position {
    font-size: 14px;
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.page-plans h2 span {
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    display: block;
}

.page-plans h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;

}

.box-price-item h3 {
    font-size: 70px;
    font-weight: 700;
    color: #192b59;
}

.box-price-item strong {
    font-size: 14px;
    font-weight: 700;
    color: #1085e4;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.active strong {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.active h3 {
    color: #fff;
}

.active span {
    color: #6978a2;
}

.nonactivetwo h3 span {
    color: #6978a2;
}

.page-team h3 span {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #84c8ff;
    display: block;
}

.page-team h3 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.page-form h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;

}

.footer p {
    font-size: 16px;
    font-weight: 400;
    color: #66719b;
}

.footer p a {
    font-size: 16px;
    font-weight: 400;
    color: #1085e4;
    text-transform: uppercase;
}