body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #aab2c5;
    line-height: 26px;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #8492b7;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.btn-primary {
    color: #fff;
    background-color: #1085e4;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    padding: 20px 39px;
    border-radius: 35px;
    border: 1px solid #1085e4;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}

.btn-secondary {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #909dbb;
    background-color: #cbdbe8;
    padding: 19px 39px;
    border-radius: 30px;
    border: 1px solid #cbdbe8;
}

.btn-secondary:hover {
    background-color: #fff;
}

.btn-group a+a{
    margin-left: 15px;
}

.btn-free {
    letter-spacing: 1.5px;
    padding: 19px 48px;
    font-weight: 400;

}

.btn-sub {
    letter-spacing: 2px;
    padding: 16px 47px;
}

.btn-learn {
    padding: 20px 61px;
}

.btn-choose-plan {
    padding: 20px 61px;
}

.btn-submit {
    padding: 20px 60px;
}

.btn-info {
    color: #8085b1;
    background: transparent;
    border: 1px solid #dce1e5;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 19px 39px;
    border-radius: 30px;
}

.btn-white {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #909dbb;
    background-color: #fff;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
}

.grid h2 span {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #1085e4;
    display: block;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;

}

.page-subscribe h2 {
    font-size: 50px;
    color: #fff;
    font-weight: 600;
}

.page-subscribe h2 span {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #1085e4;
    display: block;
}

.page-software h2 {
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
}

.page-software dt {
    font-size: 16px;
    font-weight: 700;
    color: #77829e;
}

.page-software dd {
    font-size: 14px;
    font-weight: 400;
    color: #aab2c5;
}

.page-stat h2 {
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
}

.page-stat h2 span {
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 800;
    color: #1085e4;
    display: block;
    
}

.page-stat li {
    font-size: 12px;
    font-weight: 700;
    color: #6fb6f0;
    

}

.page-stat li span {
    font-size: 60px;
    font-weight: 700;
    color: #bacbdc;
    display: block;
}

.page-app h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.available {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #d1dce5;
    text-transform: uppercase;
    
}

.page-suitable_for_anytype h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;

}

.page-easy_to_edit h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;

}

.page-screen h2 span{
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    display: block;
}

.page-screen h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
}

.page-clients span {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #84c8ff;
    display: block;
}

.page-clients h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;

}

.page-clients p {
    font-size: 14px;
    font-weight: 400;
}

.name {
    font-size: 22px;
    font-weight: 600;
    color: #192b59;
}

.position {
    font-size: 14px;
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.page-plans h2 span {
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    display: block;
}

.page-plans h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;

}

.box-price-item h3 {
    font-size: 70px;
    font-weight: 700;
    color: #192b59;
}

.box-price-item strong {
    font-size: 14px;
    font-weight: 700;
    color: #1085e4;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.active strong {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.active h3 {
    color: #fff;
}

.active span {
    color: #6978a2;
}

.nonactivetwo h3 span {
    color: #6978a2;
}

.page-team h3 span {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #84c8ff;
    display: block;
}

.page-team h3 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.page-form h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;

}

.footer p {
    font-size: 16px;
    font-weight: 400;
    color: #66719b;
}

.footer p a {
    font-size: 16px;
    font-weight: 400;
    color: #1085e4;
    text-transform: uppercase;
}

/*  LR_8 Flex_nav */

.nav {
    display: flex;
    justify-content: center;
}

.nav > li {
    padding: 0 15px;
    margin-right: 9px;
}

.head_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 53px;
    margin-bottom: 65px;
}

.width_ {
    max-width: 1140px;
    margin: 0 auto;
}

.logo {
    display: block;
    background-image: url(../img/header/Limpon-logo.png);
    width: 185px;
    height: 53px;
}